:root{
    --white: #fff;
    --aqua: #5ddff0;
    --black: #000;
}

body{
    margin: 0;
    background-color: var(--aqua);
    padding: 80px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.container{
    margin: 0 auto;
    color: var(--white);
}

.container *{
    box-sizing: border-box;
}

.flex-outer,
.flex-inner{
    list-style-type: none;
    padding: 0;
}

.flex-outer{
    max-width: 800px;
    margin: 0 auto;
}

.flex-outer li,
.flex-inner {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-inner{
    padding: 0 8px;
    justify-content: space-between;
}

.flex-outer > li:not(:last-child){
    margin-bottom: 20px;
}

.flex-outer li label, 
.flex-outer li p{
    padding: 8px;
    font-weight: 300;
    letter-spacing: .09em;
    text-transform: uppercase;
}

.flex-outer > li > label,
.flex-outer li p {
    flex: 1 0 120px;
    max-width: 220px;
}

.flex-outer > li > label > *,
.flex-inner{
    flex: 1 0 220px;
}

.flex-outer > li > input,
.flex-outer > li > textarea  {
    box-sizing: border-box;
    width: 600px;
    height: 50px;
    justify-content:center;
    text-align: left;
    padding-left: 10px;
    
}

.flex-outer > li > textarea {
    height: 100px;
    padding-top: 10px;
}

.flex-outer li button {
    background-color: var(--black); /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin-left: 700px;
}